<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         cacheResultFile=".phpunit.cache/test-results"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">source/php</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">source/php</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">source/php</directory>
        </exclude>
    </coverage>

  <php>
    <ini name="error_reporting" value="E_ALL" />
  </php>
</phpunit>
